<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="PS10511.ProductDaoTest"/>
      <class name="PS10511.userDAOTest"/>
      <class name="controller.AccountController"/>
      <class name="PS10511.selenium.loginTest"/>
      <class name="seleniumtest.LoginTest"/>
      <class name="PS10511.DMucDAOTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
